<div class="salons-container d-flex">

  <main class="main-content p-4 w-100">
    <h2>
      Réservations
      <% if @salon.present? %>
        - <%= @salon.name %>
      <% else %>
        - Aucun salon sélectionné
      <% end %>
    </h2>

    <% if @salon.present? %>
      <!-- Section du calendrier -->
      <div id="calendar" class="mt-4"></div>

    <% else %>
      <div class="alert alert-info mt-4">
        Vous n'avez pas encore sélectionné de salon.<br>
        <%= link_to "Ajouter un salon", new_pros_salon_path, class: "btn btn-primary mt-2" %>
      </div>
    <% end %>
  </main>
</div>
