// Import page-specific CSS files here.
@import "home";

.filter-form {
  margin-left: 20px;
  display: flex;
}

.filter-select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.filter-submit {
  border: none;
  border-radius: 10px;
}
// Carte page search

.salon-container {
  display: flex;
  flex-direction: row;
  height: 100%; // ou 100% si tu veux qu'il prenne tout l'écran
  overflow: hidden;
}

.card-body {
  background: white;
  background: white;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
