// Import page-specific CSS files here.
@import "home";


// HOME PAGE


.home-background {
  background: #E7E0F5;
}

// 🔍 Search-bar
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  padding: 10px;
  width: 90%;
  max-width: 600px;
}

.search-input {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: transparent;
  position: absolute;
  right: 35px; /* Décalage depuis la droite */
  border: none;
  padding: 10px;
}

// titres et paragraphe home page

#home-title {
  padding-top: 100px;
}

#home-title h2 {
  padding-top: 30px;
  color: #6A38FF;
}

// Bouton pro : ajout d'un établissement

.professional-sign-up {
  color: #6A38FF;
  margin: 50px;
}

.new-salon {
  background-color: #6A38FF;
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// SEARCH PAGE

.filter-form {
  margin-left: 20px;
  display: flex;
}

.filter-select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.filter-submit {
  border: none;
  border-radius: 10px;
}
// Carte page search

.salon-container {
  margin: 20px;
}

.card-body {
  background: white;
  background: white;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// Icone certifié

.fa-circle-check {
  position: relative;
  left: 147px;
  font-size: 30px;
  bottom: 4px;
}
