// CSS pour la vue MAPBOX

.mapbox {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.btn-list {
  position: relative;
  bottom: 100px;
  left: 15px;
  background-color: #6A38FF;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: white;
  margin: 20px;
  border-radius: 20px;
  width: 240px;
  height: 180px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 20px;

}

.certified-icon {
  position: relative;
  left: 20px;
  font-size: 30px;
  top: 3px;
}

.body-map {
  color: #6A38FF;
}

.info-map {
  display: flex;
  justify-content: space-around;
  color: #2e2929;
  margin: 0px;
}
