.salons-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-salon {
  width: 250px;
  background: #f8f9fa;
  padding: 20px;
  // position: fixed;
  // left: 0;
  top: 60px;
  height: 100vh;
  // overflow-y: auto;
  border-right: 2px solid #ddd;
  z-index: 2;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

// .dropdown-menu {
//   top: 100% !important;
//   left: 0;
//   width: 100%;
//   z-index: 1000 !important;
// }
