.profil-card-pro {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #6A38FF 50%, white 50%);
}

p {
  margin: 10px;
}

.card-pro {
  box-shadow: 0 0 10px #00000033;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.onglet-nav {
  border-radius: 10px;
  background: #6A38FF;
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  padding-left: 15px;
  border: none;
  width: 100%;
}

.nav-card {
  background: #EBEBEB;
  margin: 8px;
  padding: 3px;
  color: #6A38FF;
  font-size: 16px;
  padding-left: 8px;
  border-radius: 5px;
  border: none;
}

.btn-select {
  background: #555555;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  height: 35px;
  position: relative;
  right: 3px;
}

.btn-select:hover {
  background: #666371;
}

#navbar {
  position: absolute;
}

.list_services {
  list-style: none;
}

#certified {
  color: #6A38FF;
  font-weight: 400;
}

#price_tag {
  color: rgb(109, 109, 109);
  font-size: 12px;
}

#services {
  padding-left: 0px;
}

.onglet-category{
  background: #EBEBEB;
  color: #393939;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 99%;
  text-align: start;
}

.services-list {
  padding-left: 0px !important;
}

.category-list {
  list-style: none;
  padding-left: 14px;
}

.pro-salon {
  background: #eaeaea;
  color: #343a40;
  padding: 1px;
  border-radius: 10px;
  margin: 16px;
  margin-top: 3px;
  font-size: 14px;
  box-shadow: 2px 4px 8px #00000033;
}

#pro-salon-name {
  font-weight:lighter;
  font-size: 13px;
  margin-left: 20px;
  margin-bottom: 0px;
  color: #6a38ff;
}
