.profil-card-pro {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #6A38FF 50%, white 50%);
}

p {
  margin: 10px;
}

.card-pro {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.onglet-nav {
  border-radius: 10px;
  background: #6A38FF;
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  padding-left: 15px;
}

.nav-card {
  background: #EBEBEB;
  margin: 8px;
  padding: 3px;
  color: #6A38FF;
  font-size: 16px;
  padding-left: 8px;
}
