<div class="salons-container">
  <aside class="sidebar">
    <%= render "salons/sidebar" %>
  </aside>

  <main class="main-content">
    <p>Dashboard</p> <!-- Contenu par défaut -->
  </main>
</div>
