<% content_for :body_class, "home-background" %>

<div class="container mt-5">
  <div class="home-content">

    <%# Introduction %>
      <div id="home-title" class="container text-center">
        <h2>Rencontrez les meilleurs professionnels du soin</h2>
        <br>
        <p>Reenew garantie la conformité de votre prestataire et assure le respect des normes de sécurité, d’hygiène et de confort</p>
      </div>
        <br>

   <%# 🔍 Barre de recherche %>
    <div class="search-container">
      <div class="search-bar">
        <div class="col-sm-8 my-3">
          <%= form_with url: salons_path, method: :get, local: true, class: "d-flex search-form" do %>
            <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder: "Quel type de soin cherchez-vous ?", style: "border-radius: 10px"%>
            <button type="submit" text="Rechercher" class="search-button" style="border-radius: 10px">
              <i class="fas fa-search"></i>
            </button>
          <% end %>
        </div>
      </div>
    </div>

    <%# Ajoutez un établissement professionnel %>
    <div class="professional-sign-up">
      <p>Vous êtes un professionnel ?</p>
      <div class="button-create-salon">
      <%= link_to "Ajouter un établissement", new_salon_path, class: "btn new-salon" %>
      </div>
    </div>


  </div>
</div>
