// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "simple_calendar";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Components & Pages
@import "components/index";
@import "pages/index";
@import "pages/salons";
@import "pages/show";

// Global layout rules
body {
  padding-top: 60px; // pour laisser de la place à la navbar fixed
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #fefefe;
}

.main-content {
  margin-left: 0px; // match la sidebar fixed
  padding: 40px 20px;
  flex-grow: 1;
  overflow-y: auto;
}
